---
import { getAssetUrl } from '../config';
---
<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href={getAssetUrl('/')}>Home</a></li>
    <li class="nav-about" role="menuitem"><a href={getAssetUrl('/about/')}>About</a></li>
    <li class="nav-getting-started" role="menuitem"><a href={getAssetUrl('/tag/getting-started/')}>Getting Started</a></li>
    <li class="nav-rugby" role="menuitem"><a href={getAssetUrl('/tag/rugby/')}>Rugby</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="https://astro.build" target="_blank" rel="noopener">Try Astro</a></li>
</ul>
